input[type="text"],
button {
    border: 1px solid black;
    color: black;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
button {
    background-color: cornflowerblue;
    margin: 4px 2px;
    cursor: pointer;
}
.backQuery {
    background-color: rgb(128, 159, 255, 0.5);
    padding: 1px 0 30px;
    border-bottom-color: black;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
body {
    font-family: "Montserrat", sans-serif;
}
img {
    margin: -25px;
}
h1 {
    text-decoration: underline;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.center {
    text-align: center;
}
.error {
    color: red;
    font-size: 28px;
    font-weight: 500;
    margin: 25px;
}
/*
.footer {
   background-color: #2f2f2f;
   color: white;
    padding: 1rem;
   text-align: center;
    
}
.content {
  padding: 20px;
  min-height: 100%;

}
*/

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}
